# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# C/C++ build
*.o
*.out
*.exe
*.obj
*.dll
*.so
*.dylib

# Logs & temp
*.log
*.tmp
*.swp

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db